@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexVertical {
    display: flex;
    flex-direction: column;
}

@mixin margin-itemslogin {
    margin: 0 30px;
}