@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexVertical {
    display: flex;
    flex-direction: column;
}

@mixin transitions {
    transition: all 0.3s ease;
}