/*For elements' colors*/
$color-header: #353132;
$background-color: #ffffff;
$second-background-color: #009a25;

/*Shadow of boxes*/
$shadow-box: rgba(0, 0, 0, 0.16) 0px 1px 4px;

/*Heigh and width of logo container*/
$height-width-circle: 10vw;