@import './config';
@import './resused';

body {
    background-image: url("../img/background_img.jpg");
    background-size: cover;
}

.main-box {
    @include flexCenter;
    width: 100%;
    height: 100vh;
}

.card-login {
    background: white;
    border-radius: 4px;
    width: 33%;
}

.section-form {
    @include flexVertical;

    &__textbox {
        border: solid 1px;
        border-radius: 3px;
    }
}