@import './config';
@import './resused';

body {
    background-image: url("../img/background_img.jpg");
    background-size: cover;
}

.main-box {
    @include flexCenter;
    width: 100%;
    height: 100vh;
}

.card-login {
    background: white;
    border-radius: 4px;
    width: 33%;
}

.section-header {
    display: flex;

    &__title {
        order: 1;
    }

    &__logo {
        order: 0;
    }
}

.section-form {
    @include flexVertical;

    &__textbox {
        align-self: flex-end;
        border: solid 1px;
        border-radius: 3px;
        width: 70%;
    }
}